@charset "UTF-8";

*{
   font-size: 1em;
   margin: 0px;
   padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family= Passion +One & display=swap');
@import url('https://fonts.googleapis.com/css2?family= família = Sriracha & display=swap');

 :root{
    --fontepadrao: 'Verdana', 'Geneva', 'sans-serif';
    --fontedestaque1: 'Passion One', cursive;
    --fontedestaque2: 'Sriracha', cursive;
 }
html, body{
   font-family: var(--fontepadrao);
   min-height: 100vh;
   background-color: darkgray;
}
header{
   text-align: center;
   background-color: black;
   color: white;
}
header > h1{
   font-size: 5vw;
   font-family: var(--fontedestaque1);
   padding-top: 50px;
   font-variant: small-caps;
}
header > p{
   padding-bottom: 50px;
}
header a{
   color: aqua;
   text-decoration: none;
}
header a:hover{
   color: red;
   text-decoration: underline;
}
section{
   font-size: 3.5vw;
   padding-top: 10vh;
   padding-bottom: 10vh ;
   line-height: 2em;
   padding-left: 30px;
   font-family: var(--fontedestaque2);
}
section > p{
   padding-bottom: 2em;
}
section.normal{
   background-color: white;
   color: rgb(0, 0, 0);
}
section.imagem{
   background-color: rgba(0, 0, 0, 0.795);
   color: white;
   box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.445);
   background-size: cover;
   background-attachment: fixed;
}
section.imagem > p{
   background: rgb(0 0 0 / 63%);
   display: inline-block;
   padding: 5px;
   text-shadow: 1px 1px 0px black;
}
section#img01{
   background-image: url(../imagens/background001.jpg);
   background-position: right center;
}
section#img02{
   background-image: url(../imagens/background002.jpg);
   background-position: right center;
}
footer a{
   color: aqua;
   text-decoration: none;
}
footer a:hover{
   color: red;
   text-decoration: underline;
}
footer {
   text-align: center;
   background-color: black;
   color: white;
}