@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, var(--verde) , var(--lilas));
    }

    section#login{
        width: 90vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
    
    section#login > div#formulario {
        float: right;
        width: 70%;
    }


    div#formulario > p{
        font-size: 1.2em;
        font-weight: 550;
        padding-bottom: 30px;
    }
    form{
        text-align: center;
    }
}
@media screen and (min-width: 990px){

    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section#login{
        width: 950px;
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > p{
        font-size: 1.2em;
    
    }
    div#formulario > p{
        font-size: 1.2em;
        font-weight: 550;
        padding-bottom: 30px;
    }
    form{
        text-align: center;
    }
}